.admin-sidebar {

  width: 260px;

  min-height: 100vh;

  background:
  linear-gradient(
    180deg,
    #6d1f1f,
    #9f6b00
  );

  color: white;

  position: fixed;

  left: 0;
  top: 0;

  padding: 25px;
}

.logo {

  font-size: 24px;

  font-weight: 700;

  margin-bottom: 40px;

  text-align: center;
}

.menu-list {

  display: flex;

  flex-direction: column;

  gap: 10px;
}

.menu-item {

  display: flex;

  align-items: center;

  gap: 12px;

  text-decoration: none;

  color: white;

  padding: 14px;

  border-radius: 12px;

  transition: .3s;
}

.menu-item:hover {

  background:
  rgba(255,255,255,.15);
}

.menu-item.active {

  background:
  rgba(255,255,255,.25);
}

@media(max-width:768px){

  .admin-sidebar{

    width:100%;

    height:auto;

    min-height:auto;

    position:relative;
  }
}