.orders-page {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

.orders-page h1 {
  margin-bottom: 30px;
}

.order-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;

  background: white;

  border-radius: 12px;

  margin-bottom: 15px;

  box-shadow:
    0 4px 15px rgba(0,0,0,.05);
}

.status {
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
}

.delivered {
  background: #e8f7e8;
  color: green;
}

.shipped {
  background: #eaf3ff;
  color: #0066ff;
}

.pending {
  background: #fff4e5;
  color: orange;
}

@media(max-width:768px)
{
  .order-card {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}